asgiref
certifi
charset-normalizer
coreapi
coreschema
Django
django-admin-interface
django-ckeditor
django-colorfield
django-flat-responsive
django-flat-theme
django-js-asset
djangorestframework
djangorestframework-simplejwt
drf-yasg
gunicorn
idna
inflection
itypes
Jinja2
MarkupSafe
mysqlclient
packaging
Pillow
psycopg2-binary
PyJWT
python-dotenv
pytz
requests
ruamel.yaml
ruamel.yaml.clib
six
sqlparse
uritemplate
urllib3
whitenoise
